doctype html 
html(lang = 'en')
    head    

    body 
        p New Username: 
        input#userName(type="text" name="userName",value="")
        p New Password: 
        input#passWord(type="password" name="passWord",value="")
        br
        button#submit Submit

script(src="register.js")


